modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Video Gallery Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Video Gallery Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram-bot-websites/server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python x_telegram.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "python telegram-bot-websites/server.py & python x_telegram.py"]

[userenv]

[userenv.shared]
API_HASH = "6764e4d6dd12108e82105f355c6309d8"
CHAT_ID = "-1001816303239"
API_ID = "22268900"
BOT_TOKEN = "8396142955:AAHTFHGai_SNUAooPOzmyNG1Y-wp6G5IXNo"
