requests
pyrogram
tgcrypto

yt-dlp
TgCrypto-pyrofork

psycopg2-binary==2.9.7
requests==2.31.0
python-multipart==0.0.6
aiofiles
fastapi
jinja2
psutil
pydantic
pydantic-settings
pyrofork
pyrogram
python-dotenv
python-multipart
requests
tgcrypto
uvicorn[standard]
websockets
yt-dlp
gallery-dl